################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ToorakCapital/FileContentIndex/e82ef19c-cd32-4af5-9ea1-a7c2fdf040db.vsidx
/.vs/slnx.sqlite
